table, th, td {
		border: none;
}

tr:nth-child(even) { background: #CCC }
tr:nth-child(odd) {background: #FFF}
tr:nth-child(1) {
	background: white;
}

input:nth-child(1) { width: 500px; }
input:nth-child(2) { width: 60px; }
input:nth-child(3) { width: 40px; color: green;}

#stop, #pause, #resume {
	text-align: center;
	font-size: 36px;
	color: red;
	width: 100%;
}
